     body {
      background-color: #BEC7C7;
     font-family: 'Antonio', sans-serif;
    }
    .sub-titulos {
      text-decoration: underline;
      margin-bottom: 30px;
      text-align: center;
      font-weight: 500;
      letter-spacing: 0.05em;
    }
    .conteudo {
      text-align: center;
    }
    .header-text {
      margin-left: 10px;
      display: inline-block;
      max-width: 300px;
    }
    .conteudo-1 {
    }
    img {
      border-radius: 4px;
      border: 4px solid #BB2020;
    }
    h1 {
      text-decoration: underline;
      text-align: center;
      font-size: 2em;
      font-weight: bold;
      letter-spacing: .05em;
    }
    p {
      font-size: 1em;
      line-height: 1.5em;
    }
    a {
      text-decoration: none;
    }
    .habilidades-gerais {
    padding: 0px 0 40px 0;
    text-align: center; 
    }
    .central {
      margin-right: 40px;
      display: inline-block;
    }
    .super-maior {
      color: #FFEB4D;
      font-size: 2em;
    }
    .super-maior:hover {
      color: #BB2020;
      font-size: 3em;
    }
    .maior {
      font-size: 1.5em;
    }
    .menor {
      font-size: 1.2em;
    }
    .muito-menor {
      font-size: 1em;
    }
    .btn-foto {
      margin: 40px 0 40px 0;
      display: block;
      text-align: center;
    }
    .btn {
     text-align: center;
     background-color: #BB2020;
     padding: 5px 20px;
     color: #FFEB4D;
     text-decoration: none;
     border-radius: 4px;
    }
    .btn:hover {
      color: #06111C;
    }
    .acesso {
      padding: 40px 0;
      text-align: center;
    }
    .acesso li a {
      padding: 10px;
      background-color: #BB2020;
      color: #FFEB4D;
      border-radius: 4px;
    } 
    .acesso li a:hover {
      color: #06111C;
    }
    .acesso li a:active{
      color: #fff;
    }
    .contato {
      text-align: center;
    }